.mission {
    color: rgb(118, 115, 118);
    font-size: 29px;
    font-family: Raleway-Light;
    text-align: center;
    letter-spacing: 0.47px;
    line-height: 50px;
    position: relative;
}

.missionBack {
    background: rgb(245, 245, 245);
}

.tonnesText {
    color: rgb(118, 115, 118);
    font-size: 24px;
    font-family: Raleway-Light;
    text-align: center;
    letter-spacing: 0.34px;
    line-height: 33px;
}