.nothiri {
    color: rgb(99, 42, 68);
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0px;
    line-height: 38px;
}

.notexti {
    color: rgb(73, 72, 73);
    font-weight: normal;
    padding: 15px 0 25px;
}

.butts {
    background: rgb(105, 175, 227);
    padding: 10px 35px;
    border-radius: 25px;
    position: relative;
    cursor: pointer;
    color: white;
    font-size: 16px;
    text-align: center;
}