{
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "impliedStrict": true,
            "jsx": true
        }
    },
    "env": {
        "browser": true,
        "node": true,
        "mocha": true
    },
    "extends": "airbnb",
    "rules": {
        "indent": [2, "tab"],
        "linebreak-style": ["warn", "windows"],
        "no-tabs": 0,
        "semi": 0,
        "camelcase": 0,
        "no-alert": 0,
        "no-console": 0,
        "import/prefer-default-export": 0,
        "import/no-extraneous-dependencies": 0
    }
  }