.logopic {
    height: 45px;
}

.collu {
    background: rgb(245, 245, 245);
    border-radius: 0px;
    min-height: 234px;
    position: relative;
}

.butta {
    padding: 10px 2.5rem;
    color: white;
    text-align: center;
    outline: 0;
    background-color: #69afe3;
    border-radius: 25px;
    cursor: pointer;
    position: absolute;
    bottom: 30px;
    right: 20px;
}

.textus {
    color: rgb(73, 72, 73);
    font-family: Raleway-Regular;
    font-size: 14px;
    font-weight: normal;
    height: 84px;
    letter-spacing: 0.09px;
    line-height: 18px;
    width: 509px;
}