.about {
    color: rgb(99, 42, 68);
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0px;
    line-height: 38px;
}

.whyuse {
    background: rgb(81, 123, 136);
    border-radius: 0px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 10px 15px;
}

.textos {
    color: rgb(73, 72, 73);
    font-weight: normal;
}

.glob {
    background: rgb(235, 241, 252);
    height: 175.1px;
}

.globtext {
    color: rgb(73, 72, 73);
    font-weight: bold;
}

.citicolor {
    color: #632a44
}

.yeloback {
    background: rgb(255, 252, 221);
    border-radius: 20px;
}

.award {
    color: rgb(81, 123, 136);
    font-weight: bold;
    padding: 40px 15px;
    position: relative;
}