.using {
    color: rgb(99, 42, 68);
    font-family: Roboto;
    font-size: 30px;
    font-weight: bold;
}

.threebox {
    background: rgb(255, 255, 255);
    border-radius: 0px;
    border: 5px solid rgb(245, 245, 245);
    height: 394px;
}

.listh {
    color: rgb(99, 42, 68);
    font-family: Roboto;
    font-size: 38px;
    font-weight: 600;
    height: 51px;
    letter-spacing: 0.15px;
}

.listtext {
    color: rgb(73, 72, 73);
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
}

.faqus {
    background: rgb(255, 255, 255);
    border-radius: 0px;
    height: 79px;
    color: rgb(73, 72, 73);
    font-family: Roboto;
    font-size: 24px;
    font-weight: 300;
}

.freeto {
    background: rgb(245, 245, 245);
    border-radius: 20px;
    position: center;
    color: rgb(73, 72, 73);
    font-size: 20px;
    font-family: Roboto;
    letter-spacing: 0.13px;
    line-height: 27px;
}