.reuse {
    color: rgb(99, 42, 68);
    font-weight: bold;
}

.workwith {
    color: rgb(73, 72, 73);
    font-family: Raleway-Regular;
    font-weight: normal;
    width: 525px;
}

.mirror {
    color: rgb(140, 77, 54);
    font-family: Raleway-ExtraBold;
    font-size: 33px;
    font-weight: 800;
    height: 442px;
    letter-spacing: 0.22px;
    line-height: 52px;
    text-align: center;
    width: 493px;
}

.whywelove {
    background: rgb(255, 255, 255);
    border-radius: 0px;
    height: 79px;
    width: 339px;
    color: rgb(73, 72, 73);
    font-family: Raleway-Light;
    font-size: 24px;
    font-weight: 300;
}

.quotebox {
    background: rgb(255, 252, 221);
    border-radius: 20px;
    width: 573px;
    height: 324px;
    padding: 35px 25px;
}